/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2016, 12:37:44 PM
    Author     : ehivan24
*/

body {
    background-color: lightblue;
}

h1 {
    color: whitesmoke;
    margin-left: 20px;
    padding: 3px;
}
.text-h5{
    margin-left: 20px;
    color: white;
    padding: 2px;
}
.text-h3{
    margin-left: 20px;
    color: red;
    padding: 3px;
}

  /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
   }
}    
