/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2016, 12:37:44 PM
    Author     : ehivan24
*/

body {
    background-color: lightblue;
}

h1 {
    color: whitesmoke;
    margin-left: 20px;
}
.text-h5{
    margin-left: 20px;
    color: white;
    font-size: 14px;
}

